@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till SkolAppen där du kan hantera och se information om lärare, studenter, kurser och klasser!</h1>
</div>
