
@{
    ViewData["Title"] = "SearchTeacher";
}

<h4>Sök efter lärare utifrån kursnamn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ViewSearchResults">
            <div class="form-group">
                <label for="SearchTeacher" class="control-label">Kursnamn</label>
                <input name="Searchteacher" class="form-control">
            </div><br />
            <div class="form-group">
                <input type="submit" value="Sök" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Tillbaka till listan</a>
</div>
