@{
    ViewData["Title"] = "UpdateTeacher";
}

<h1>Ändra lärare på en kurs</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeTeacher">
            <div class="form-group">
                <label for="CourseName" class="control-label">Ange kursnamn</label>
                <input name="CourseName" class="form-control">
                <label for="ClassName" class="control-label">Ange klass</label>
                <input name="ClassName" class="form-control">
                <label for="TLastName" class="control-label">Ange efternamn på lärare du vill ändra till</label>
                <input name="TLastName" class="form-control">
            </div><br/>
            <div class="form-group">
                <input type="submit" value="Gör ändringen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Tillbaka till översikten</a>
</div>
