
@{
    ViewData["Title"] = "UpdateCourseName";
}

<h1>Ändra kursens namn</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeCourseName">
            <div class="form-group">
                <label for="CurrentCourseName" class="control-label">Vilken kurs vill du ändra</label>
                <input name="CurrentCourseName" class="form-control">
                <label for="NewCourseName" class="control-label">Nytt kursnamn</label>
                <input name="NewCourseName" class="form-control">
            </div><br/>
            <div class="form-group">
                <input type="submit" value="Gör ändringen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Tillbaka till översikten</a>
</div>
